*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.media-wrapper{
    background-color: #ECE2D0;
    color: #0C4767;
}

.page-header{
    background: linear-gradient(rgba(12, 71, 103, 0.9), rgba(165,42,42,0.7)), url(cincenter_photos/movie-918655_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(223, 255, 226);
}

.explore-btn{
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid rgb(223, 255, 226);
    border-radius: 8px; 
    vertical-align: baseline;
    margin-top: 100px;
    text-decoration: none;
    color: rgb(223, 255, 226);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn:hover, .explore-btn:focus{
    cursor: pointer;
    background-color: rgba(12, 71, 103, 0.3);
}

.trailer-box{
    width: 305px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 5px; 
}

.content-header{
    width: 100%;
}

.content-header__border{
    width: 95%;
    border-bottom: 3px dotted rgba(127,209,185);
}

.playlist-nav{
    margin-top: 10px; 
    display: inline-block;
    text-decoration: none;
    border: 2px solid #0C4767;
    color: #0C4767;
    font-size: 20px;
    width: 150px;
    padding: 5px; 
    border-radius: 3px; 
    font-weight: 700;
}

.playlist-nav:hover,
.playlist-nav:focus{
    background-color: rgba(127,209,185,0.3);
}

.trailer-content{
    text-align: center;
    height: 410px;
    overflow: auto;
}

.movie-trailer-thumbnail{
    margin: 5px 0px; 
}

.trailer{
    width: 300px;
}

.search-area-wrapper{
    margin-bottom: 10px; 
}

.in-theaters-content, .search-content{
    background-color: white;
    width: 305px; 
    margin: 20px auto 0 auto;
    text-align: center;
}

.label-header{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

.now-playing-content, .recommendations-page{
    text-align: center;
    display: flex;
    align-items: center;
    max-height: 568px;
    max-width: 620px; 
    flex-direction: column;
    overflow-y: auto;
    border-top: 3px dotted rgba(127,209,185);
}

.now_playing-button, .search-button{
    background-color: white;
    border: 1px solid #0C4767;
    padding: 3px; 
    border-radius: 3px; 
}

.now_playing-button:hover,
.now_playing-button:focus,
.search-button:hover,
.search-button:focus{
    background-color: rgba(127,209,185,0.3);
    cursor: pointer;
}

.poster-image{
    width: 250px;
    margin: 5px auto;
    display: block;
}

.poster-image:hover, .poster-image:focus{
    cursor: pointer;
    border: 3px solid #0C4767;
}

.search-results, .in-theaters-info{
    border-bottom: 1px solid gray;
    margin: 10px 2px; 
}

.recommend-button{
    background-color: white;
    border: 1px solid #0C4767;
    padding: 3px; 
    border-radius: 3px; 
}

.recommend-button:hover,
.recommend-button:focus{
    background-color: rgba(127,209,185,0.3);
    cursor: pointer;
}

.page-footer{
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: 100%;
    background-color: #7FD1B9;
    font-size: 14px;
}

.content-info--author{
    margin-right: 30px; 
}

.fab, .icon{
    margin-right: 10px; 
    color: #0C4767;
}

.movie-details{
    display: flex;
    flex-direction: column;
}

.movie-details h3,.movie-details p{
    margin: 10px 5px; 
}

.movie-details__bold{
    font-weight: 700;
    text-decoration: underline;
}

.movie-details-header{
    text-align: center;
}

.exit-btn{
    margin: auto;
    width: 100px; 
    font-weight: 700;
}

.media-wrapper{
    width: 100%;
    height: 100%;
  }
  
  #wrapper{
    position: fixed; 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;
  }
  
  .lightbox{
    position: fixed;
    top: 0;
    width: 100vw; 
    max-height: 500px;  
    border: 1px solid black;
    border-radius: 3px; 
    background-color: white;
    z-index: 10;
    overflow: auto;
    margin: 30px auto;
    display: none;
  }

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape){
    .header-image{
        margin-top: 10px; 
    }

    .poster-image{
        height: 200px; 
        width: 150px
    }
}

@media only screen and (min-width: 695px){
    .page-header{
        justify-content: center;
    }

    .main-header{
        font-size: 45px; 
        font-weight: 700;
    }

    .header{
        font-size: 28px; 
    }

    .explore-btn{
        margin-top: 100px;
    }

    .trailer-content{
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        margin: 10px; 
        height: 425px;
        justify-content: space-around;
    }

    .playlist-nav{
        display: block;
        float: left;
        margin-left: 30px; 
        margin-top: 30px;
        clear: both;
    }

    .search-area-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .now-playing-content, .recommendations-page{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 550px;
        max-height: 440px;
        overflow: hidden;
        margin: 10px; 
        overflow-y: scroll;
    }
    
    .in-theaters-content:hover,
    .in-theaters-content:focus,
    .search-content:hover,
    .search-content:focus,
    .trailer-box:hover,
    .trailer-box:focus{
        box-shadow: 6px -5px 5px 0 gray;
    }

    .search-results, .in-theaters-info{
        height: 420px;
    }

    .in-theaters-content, .search-content{
        width: 580px;
        max-height: 545px;
        margin-bottom: 20px; 
        margin-left: 10px; 
        margin-right: 10px; 
        border-radius: 5px;
    }

    .poster-header{
        width: 210px;
        height: 65px; 
        margin: 0;
        font-size: 20px; 
    }

    .poster-image{
        width: 210px; 
        margin-bottom: 5px; 
    }

    .trailer-box{
        width: 95%;
        margin: 20px auto;
        height: 500px; 
        text-align: left;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .content-header{
        margin: 10px 0px 0px 30px; 
    }

    .userInput{
        width: 125px; 
        font-size: 16px;
    }

    .search-input{
        width: 200px; 
        font-size: 16px;
    }

    .now_playing-button, .search-button{
        font-size: 16px;
    }

    .search-form{
        margin-top: 10px; 
    }

    .lightbox{
        width: 400px; 
        margin: 75px auto; 
    }

    .page-footer{
        font-size: 20px;
    }

    .fab{
        font-size: 20px; 
        margin-bottom: 3px; 
    }
}