*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header{
    height: 100px; 
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.header-info{
    
}

.header-button{
    background-color: white;
    color: black;
    width: 125px;
    height: 50px; 
    font-size: 20px; 
    border-radius: 10px; 
}

.header-info{

}

.movie-content{

}

.content-header{
    margin: 5px 15px;
}

.trailer-content{
    text-align: center;
    height: 500px;
    overflow: auto;
}

.trailer-box{
    text-align: center;
}

.movie-trailer-thumbnail{
    padding: 5px; 
    margin: 5px 2px; 
}

.in-theaters-content{
    text-align: center;
}

.now-playing-content, .reccommendations-page{
    text-align: center;
    display: flex;
    max-width: 620px; 
    border: 1px solid black;
    overflow: hidden;
}

.now-playing-form{
    margin-bottom: 10px; 
}

.poster-image{
    width: 275px;
}

.in-theaters-info{
    margin: 10px 2px; 
}

.search-content{
    margin: 10px; 
    text-align: center;
}

.reccommendations-page{
    display: flex;
}

.news-content{

}

.page-footer{

}

@media only screen and (min-width: 695px){
    .trailer-content{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        margin: 10px 15px; 
        height: 275px;
    }

    .search-area-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .now-playing-content, .reccommendations-page{
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 550px;
        max-height: 600px;
        border: 1px solid black;
        overflow: hidden;
        margin: 20px; 
        overflow-y: scroll;
    }

    .poster-image{
        width: 200px; 
        display: block;
    }
}